h1 {
	margin: auto;
	text-align: center;
	vertical-align: middle;
	transform: translateY(33vh);
	font-size: 70px;
	font-family: sans-serif;
	border-bottom: solid 5px;
	width: 50%;
}

#landing {
	height: 100vh;
}

body {
	margin: 0;
}